dj-database-url==2.3.0
Django>=5.1.4
django-browser-reload==1.16.0
fonttools==4.53.0
gunicorn==23.0.0
psycopg2-binary
python-decouple==3.8
sqlparse==0.5.1
types-python-dateutil==2.9.0.20241003
requests~=2.32.3
django-cors-headers
whitenoise
openai==0.28.0