/* Custom styles for Wrappify */

/* Navbar styles */
.navbar {
    font-family: Arial, sans-serif;
    background-color: #23d14b;
    height: 70px;
    display: flex;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    margin-right: 15px;
}

.nav-link:last-child {
    margin-right: 0;
}

/* Slide 1 Styles */
.carousel-item {
    height: 80vh; /* Fixed height to avoid layout issues */
    background: linear-gradient(135deg, #e613e3, #cc9407);
    color: #fff;
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%; /* Ensure full height for centering */
}

.centered-rectangle {
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent black background */
    padding: 60px 80px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
    text-align: center;
}

.centered-rectangle h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.centered-rectangle p {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Carousel Indicators */
.carousel-indicators li {
    background-color: #5a1b5a; /* Green color for indicators */
    width: 30px;
    height: 2px;
}

.carousel-indicators .active {
    background-color: #100812; /* Darker green for active indicator */
}

/* Responsive Design */
@media (max-width: 768px) {
    .centered-rectangle {
        padding: 40px 20px;
    }

    .centered-rectangle h1 {
        font-size: 2.5rem;
    }

    .centered-rectangle p {
        font-size: 1.2rem;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none; /* Hides the icon inside the button */
}